## Project Objective-
Prediction of real estate prices in Australia.

## importing libraries

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the dataset

In [77]:
df = pd.read_csv('./final.csv')

## EDA

In [78]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne VIC 3000",2 Beds,1 Bath,− Parking,53m²,$550k,47279,20 to 39
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne VIC 3000",2 Beds,2 Baths,1 Parking,93m²,$550k,47279,20 to 39
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne VIC 3000",2 Beds,1 Bath,1 Parking,80m²,$550k,47279,20 to 39

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80596 entries, 0 to 80595
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          80450 non-null  object
 1   price         80360 non-null  object
 2   address       80596 non-null  object
 3   bedrooms      80592 non-null  object
 4   bathrooms     75452 non-null  object
 5   parking       75452 non-null  object
 6   area          74408 non-null  object
 7   median_price  77286 non-null  object
 8   population    77286 non-null  object
 9   average_age   77286 non-null  object
dtypes: object(10)
memory usage: 6.1+ MB

In [80]:
df.isna().sum()

date             146
price            236
address            0
bedrooms           4
bathrooms       5144
parking         5144
area            6188
median_price    3310
population      3310
average_age     3310
dtype: int64

## Price

In [81]:
df.isna().sum()

date             146
price            236
address            0
bedrooms           4
bathrooms       5144
parking         5144
area            6188
median_price    3310
population      3310
average_age     3310
dtype: int64

In [82]:
df = df.dropna()

In [83]:
df.isna().sum()

date            0
price           0
address         0
bedrooms        0
bathrooms       0
parking         0
area            0
median_price    0
population      0
average_age     0
dtype: int64

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71010 entries, 0 to 80595
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          71010 non-null  object
 1   price         71010 non-null  object
 2   address       71010 non-null  object
 3   bedrooms      71010 non-null  object
 4   bathrooms     71010 non-null  object
 5   parking       71010 non-null  object
 6   area          71010 non-null  object
 7   median_price  71010 non-null  object
 8   population    71010 non-null  object
 9   average_age   71010 non-null  object
dtypes: object(10)
memory usage: 6.0+ MB

In [85]:
df = df[df['price'] != 'rice Withheld']

In [86]:
df['price'] = df['price'].str.replace(',','')

In [87]:
df['price']

0         480000
1         815000
2        3350000
3        3350000
4         590000
          ...
80590     720000
80591     617000
80592     718000
80594     588000
80595     582500
Name: price, Length: 71002, dtype: object

In [88]:
df['price'] = df['price'].astype(int)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71002 entries, 0 to 80595
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          71002 non-null  object
 1   price         71002 non-null  int64
 2   address       71002 non-null  object
 3   bedrooms      71002 non-null  object
 4   bathrooms     71002 non-null  object
 5   parking       71002 non-null  object
 6   area          71002 non-null  object
 7   median_price  71002 non-null  object
 8   population    71002 non-null  object
 9   average_age   71002 non-null  object
dtypes: int64(1), object(9)
memory usage: 6.0+ MB

## Address

In [90]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne VIC 3000",2 Beds,1 Bath,− Parking,53m²,$550k,47279,20 to 39
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne VIC 3000",2 Beds,2 Baths,1 Parking,93m²,$550k,47279,20 to 39
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne VIC 3000",2 Beds,1 Bath,1 Parking,80m²,$550k,47279,20 to 39

In [91]:
df['zipcode'] = df['address'].str[-4:]

In [92]:
df

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne VIC 3000",2 Beds,1 Bath,− Parking,53m²,$550k,47279,20 to 39,3000
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne VIC 3000",2 Beds,2 Baths,1 Parking,93m²,$550k,47279,20 to 39,3000
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne VIC 3000",2 Beds,1 Bath,1 Parking,80m²,$550k,47279,20 to 39,3000
...,...,...,...,...,...,...,...,...,...,...,...
80590,1 Sep 2023,720000,"126 Old Forcett Road, Forcett TAS 7173",4 Beds,1 Bath,10 Parking,8012.78m²,-,964,40 to 59,7173
80591,6 Aug 2023,617000,"30 Sandy Point Avenue, Dodges Ferry TAS 7173",3 Beds,1 Bath,6 Parking,"1,429m²",$653k,2474,40 to 59,7173
80592,31 Aug 2023,718000,"87 Grevillea Street, Primrose Sands TAS 7173",3 Beds,2 Baths,3 Parking,612m²,$465k,1054,40 to 59,7173
80594,5 Oct 2023,588000,"15 Brady Street, Midway Point TAS 7171",3 Beds,2 Baths,2 Parking,756m²,$630k,2861,20 to 39,7171
80595,26 Aug 2023,582500,"5 Kuneeamee Street, Dodges Ferry TAS 7173",3 Beds,1 Bath,2 Parking,635m²,$653k,2474,40 to 59,7173

In [93]:
df['state'] = df['address'].str[-8:-5]

In [94]:
df

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne VIC 3000",2 Beds,1 Bath,− Parking,53m²,$550k,47279,20 to 39,3000,VIC
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne VIC 3000",2 Beds,2 Baths,1 Parking,93m²,$550k,47279,20 to 39,3000,VIC
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000,VIC
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne VIC 3000",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000,VIC
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne VIC 3000",2 Beds,1 Bath,1 Parking,80m²,$550k,47279,20 to 39,3000,VIC
...,...,...,...,...,...,...,...,...,...,...,...,...
80590,1 Sep 2023,720000,"126 Old Forcett Road, Forcett TAS 7173",4 Beds,1 Bath,10 Parking,8012.78m²,-,964,40 to 59,7173,TAS
80591,6 Aug 2023,617000,"30 Sandy Point Avenue, Dodges Ferry TAS 7173",3 Beds,1 Bath,6 Parking,"1,429m²",$653k,2474,40 to 59,7173,TAS
80592,31 Aug 2023,718000,"87 Grevillea Street, Primrose Sands TAS 7173",3 Beds,2 Baths,3 Parking,612m²,$465k,1054,40 to 59,7173,TAS
80594,5 Oct 2023,588000,"15 Brady Street, Midway Point TAS 7171",3 Beds,2 Baths,2 Parking,756m²,$630k,2861,20 to 39,7171,TAS
80595,26 Aug 2023,582500,"5 Kuneeamee Street, Dodges Ferry TAS 7173",3 Beds,1 Bath,2 Parking,635m²,$653k,2474,40 to 59,7173,TAS

In [95]:
df['address'] = df['address'].str[:-8]

In [96]:
df

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne",2 Beds,1 Bath,− Parking,53m²,$550k,47279,20 to 39,3000,VIC
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne",2 Beds,2 Baths,1 Parking,93m²,$550k,47279,20 to 39,3000,VIC
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000,VIC
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3 Beds,2 Baths,2 Parking,175m²,$1.072m,47279,20 to 39,3000,VIC
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne",2 Beds,1 Bath,1 Parking,80m²,$550k,47279,20 to 39,3000,VIC
...,...,...,...,...,...,...,...,...,...,...,...,...
80590,1 Sep 2023,720000,"126 Old Forcett Road, Forcett",4 Beds,1 Bath,10 Parking,8012.78m²,-,964,40 to 59,7173,TAS
80591,6 Aug 2023,617000,"30 Sandy Point Avenue, Dodges Ferry",3 Beds,1 Bath,6 Parking,"1,429m²",$653k,2474,40 to 59,7173,TAS
80592,31 Aug 2023,718000,"87 Grevillea Street, Primrose Sands",3 Beds,2 Baths,3 Parking,612m²,$465k,1054,40 to 59,7173,TAS
80594,5 Oct 2023,588000,"15 Brady Street, Midway Point",3 Beds,2 Baths,2 Parking,756m²,$630k,2861,20 to 39,7171,TAS
80595,26 Aug 2023,582500,"5 Kuneeamee Street, Dodges Ferry",3 Beds,1 Bath,2 Parking,635m²,$653k,2474,40 to 59,7173,TAS

## Bedrooms

In [97]:
df = df[~df['bedrooms'].str.contains('m²',na=False)]
df = df[~df['bedrooms'].str.contains('ha',na=False)]
df['bedrooms']  = df['bedrooms'].str.replace('− 0 Beds','0')
df['bedrooms'] = df['bedrooms'].str.replace('Beds','')
df['bedrooms'] = df['bedrooms'].str.replace('Bed','')

In [98]:
df['bedrooms'] = df['bedrooms'].astype(int)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71002 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          71002 non-null  object
 1   price         71002 non-null  int64
 2   address       71002 non-null  object
 3   bedrooms      71002 non-null  int64
 4   bathrooms     71002 non-null  object
 5   parking       71002 non-null  object
 6   area          71002 non-null  object
 7   median_price  71002 non-null  object
 8   population    71002 non-null  object
 9   average_age   71002 non-null  object
 10  zipcode       71002 non-null  object
 11  state         71002 non-null  object
dtypes: int64(2), object(10)
memory usage: 7.0+ MB

In [100]:
df.isna().sum()

date            0
price           0
address         0
bedrooms        0
bathrooms       0
parking         0
area            0
median_price    0
population      0
average_age     0
zipcode         0
state           0
dtype: int64

## Bathrooms

In [101]:
df['bathrooms'] = df['bathrooms'].str.replace('− 0 Baths','0')
df['bathrooms'] = df['bathrooms'].str.replace('Baths','')
df['bathrooms'] = df['bathrooms'].str.replace('Bath','')

In [102]:
df['bathrooms'] = df['bathrooms'].astype(int)

## Parking

In [103]:
df['parking'] = df['parking'].str.replace('Parking','')
df['parking'] = df['parking'].str.replace('parking','')
df['parking'] = df['parking'].str.replace('−','0')
df['parking'] = df['parking'].str.replace(',', '')

In [104]:
df['parking'] = df['parking'].astype(int)

In [105]:
df

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53m²,$550k,47279,20 to 39,3000,VIC
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93m²,$550k,47279,20 to 39,3000,VIC
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175m²,$1.072m,47279,20 to 39,3000,VIC
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175m²,$1.072m,47279,20 to 39,3000,VIC
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80m²,$550k,47279,20 to 39,3000,VIC
...,...,...,...,...,...,...,...,...,...,...,...,...
80590,1 Sep 2023,720000,"126 Old Forcett Road, Forcett",4,1,10,8012.78m²,-,964,40 to 59,7173,TAS
80591,6 Aug 2023,617000,"30 Sandy Point Avenue, Dodges Ferry",3,1,6,"1,429m²",$653k,2474,40 to 59,7173,TAS
80592,31 Aug 2023,718000,"87 Grevillea Street, Primrose Sands",3,2,3,612m²,$465k,1054,40 to 59,7173,TAS
80594,5 Oct 2023,588000,"15 Brady Street, Midway Point",3,2,2,756m²,$630k,2861,20 to 39,7171,TAS
80595,26 Aug 2023,582500,"5 Kuneeamee Street, Dodges Ferry",3,1,2,635m²,$653k,2474,40 to 59,7173,TAS

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71002 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          71002 non-null  object
 1   price         71002 non-null  int64
 2   address       71002 non-null  object
 3   bedrooms      71002 non-null  int64
 4   bathrooms     71002 non-null  int64
 5   parking       71002 non-null  int64
 6   area          71002 non-null  object
 7   median_price  71002 non-null  object
 8   population    71002 non-null  object
 9   average_age   71002 non-null  object
 10  zipcode       71002 non-null  object
 11  state         71002 non-null  object
dtypes: int64(4), object(8)
memory usage: 7.0+ MB

## Area

In [107]:
df['area'] = df['area'].str.replace('m²','')
df['area'] = df['area'].str.replace(',','')
df['area'] = df['area'].str.replace('ha','')

In [108]:
df['area'] = df['area'].astype(float)

## Median Price

In [109]:
df['median_price'] = df['median_price'].str.replace('$','')
df['median_price'] = df['median_price'].str.replace('m','1000000')
df['median_price'] = df['median_price'].str.replace('k','1000')
df['median_price'] = df['median_price'].str.replace('.','')
df = df[~df['median_price'].str.contains('-', na=False)]

In [110]:
df['median_price'] = df['median_price'].astype(int)

/tmp/ipykernel_17236/3042063143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['median_price'] = df['median_price'].astype(int)

## Population

In [111]:
df['population'] = df['population'].astype(int)

/tmp/ipykernel_17236/2429566030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['population'] = df['population'].astype(int)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  object
 10  zipcode       54851 non-null  object
 11  state         54851 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 5.4+ MB

## Data Preprocessing

In [113]:
from sklearn.preprocessing import LabelEncoder
encoder=  LabelEncoder()
df['average_age'] = encoder.fit_transform(df['average_age'])

/tmp/ipykernel_17236/1289943099.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_age'] = encoder.fit_transform(df['average_age'])

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  int64
 10  zipcode       54851 non-null  object
 11  state         54851 non-null  object
dtypes: float64(1), int64(7), object(4)
memory usage: 5.4+ MB

In [115]:
df.corr(numeric_only=True)

,price,bedrooms,bathrooms,parking,area,median_price,population,average_age
price,1.000000,0.309295,0.426080,0.011766,0.002356,0.558588,0.131060,-0.081190
bedrooms,0.309295,1.000000,0.507762,0.035953,0.017322,0.248636,0.032390,0.134987
bathrooms,0.426080,0.507762,1.000000,0.019326,0.012059,0.258647,0.045800,0.023539
parking,0.011766,0.035953,0.019326,1.000000,0.002687,0.003022,-0.008667,0.004558
area,0.002356,0.017322,0.012059,0.002687,1.000000,-0.007693,-0.005291,0.010960
median_price,0.558588,0.248636,0.258647,0.003022,-0.007693,1.000000,0.095193,-0.112824
population,0.131060,0.032390,0.045800,-0.008667,-0.005291,0.095193,1.000000,-0.120237
average_age,-0.081190,0.134987,0.023539,0.004558,0.010960,-0.112824,-0.120237,1.000000

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  int64
 10  zipcode       54851 non-null  object
 11  state         54851 non-null  object
dtypes: float64(1), int64(7), object(4)
memory usage: 5.4+ MB

In [117]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,VIC
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,VIC
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,VIC
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,VIC
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,VIC

In [118]:
df['state'] = df['state'].str.replace('VIC', 'Victoria')
df['state'] = df['state'].str.replace('WA', 'Western Australia')
df['state'] = df['state'].str.replace('SA', 'Southern Australia')
df['state'] = df['state'].str.replace('QLD', 'Queensland')
df['state'] = df['state'].str.replace('TAS', 'Tasmania')
df['state'] = df['state'].str.replace('NT', 'Northern Territory')
df['state'] = df['state'].str.replace('NSW', 'New South Wales')

/tmp/ipykernel_17236/3654492673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('VIC', 'Victoria')
/tmp/ipykernel_17236/3654492673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('WA', 'Western Australia')
/tmp/ipykernel_17236/3654492673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('SA', 'Southern Australia')
/tmp/ipykernel_17236/3654492673.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('QLD', 'Queensland')
/tmp/ipykernel_17236/3654492673.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('TAS', 'Tasmania')
/tmp/ipykernel_17236/3654492673.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('NT', 'Northern Territory')
/tmp/ipykernel_17236/3654492673.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].str.replace('NSW', 'New South Wales')

In [119]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,Victoria
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,Victoria
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,Victoria
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,Victoria
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,Victoria

In [120]:
encoder_state = LabelEncoder()
df['state'] = encoder_state.fit_transform(df['state'])

/tmp/ipykernel_17236/2555736430.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = encoder_state.fit_transform(df['state'])

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  int64
 10  zipcode       54851 non-null  object
 11  state         54851 non-null  int64
dtypes: float64(1), int64(8), object(3)
memory usage: 5.4+ MB

In [122]:
df['zipcode'] = df['zipcode'].astype(int)

/tmp/ipykernel_17236/2322489522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['zipcode'] = df['zipcode'].astype(int)

In [123]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-Apr-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,6
1,27-Mar-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,6
2,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
3,29-Feb-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
4,ction 8 Dec 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,6

In [124]:
df['date'] = df['date'].str.replace('Jan','01')
df['date'] = df['date'].str.replace('Feb','02')
df['date'] = df['date'].str.replace('Mar','03')
df['date'] = df['date'].str.replace('Apr','04')
df['date'] = df['date'].str.replace('May','05')
df['date'] = df['date'].str.replace('Jun','06')
df['date'] = df['date'].str.replace('Jul','07')
df['date'] = df['date'].str.replace('Aug','08')
df['date'] = df['date'].str.replace('Sep','09')
df['date'] = df['date'].str.replace('Oct','10')
df['date'] = df['date'].str.replace('Nov','11')
df['date'] = df['date'].str.replace('Dec','12')

/tmp/ipykernel_17236/1467567195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Jan','01')
/tmp/ipykernel_17236/1467567195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Feb','02')
/tmp/ipykernel_17236/1467567195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Mar','03')
/tmp/ipykernel_17236/1467567195.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Apr','04')
/tmp/ipykernel_17236/1467567195.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('May','05')
/tmp/ipykernel_17236/1467567195.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Jun','06')
/tmp/ipykernel_17236/1467567195.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Jul','07')
/tmp/ipykernel_17236/1467567195.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Aug','08')
/tmp/ipykernel_17236/1467567195.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Sep','09')
/tmp/ipykernel_17236/1467567195.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Oct','10')
/tmp/ipykernel_17236/1467567195.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Nov','11')
/tmp/ipykernel_17236/1467567195.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('Dec','12')

In [125]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-04-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,6
1,27-03-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,6
2,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
3,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
4,ction 8 12 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,6

In [126]:
df['date'] = df['date'].str.replace('ction','')

/tmp/ipykernel_17236/1204354696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('ction','')

In [127]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-04-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,6
1,27-03-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,6
2,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
3,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
4,8 12 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,6

In [128]:
# df['date'] = df['date'].str.replace(' ','-')

In [129]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29-04-24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,6
1,27-03-24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,6
2,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
3,29-02-24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
4,8 12 2023,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,6

In [130]:
df['date'] = df['date'].str.replace('ction','')

/tmp/ipykernel_17236/1204354696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('ction','')

In [131]:
df['date'][30931]

'09-07-20'

In [132]:
df['date'] = df['date'].str.replace('2023', '23')

/tmp/ipykernel_17236/333009406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2023', '23')

In [133]:
df.date

0        29-04-24
1        27-03-24
2        29-02-24
3        29-02-24
4         8 12 23
           ...
80587    11 09 23
80591     6 08 23
80592    31 08 23
80594     5 10 23
80595    26 08 23
Name: date, Length: 54851, dtype: object

In [134]:
df.sample(5)

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
34687,25-05-23,430000,"7 Hargreaves Street, Collie",4,2,2,777.0,3951000,7573,1,6225,2
63050,2 03 23,1290000,"1/877 Sandy Bay Road, Sandy Bay",3,2,3,427.0,11051000000,11924,0,7005,5
46393,03-10-23,550000,"2 Wheatleys Lane, Dubbo",4,2,2,607.0,6481000,38943,0,2830,3
70549,17 02 2021,420000,"4 Ida Street, Gillen",3,2,2,875.0,4501000,4261,0,870,0
64374,12 09 2022,475100,"2 Oonah Crescent, Somerset",3,1,3,648.0,4201000,3908,3,7322,5

In [135]:
df['date'] = df['date'].str.replace('-', ' ')

/tmp/ipykernel_17236/786405809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('-', ' ')

In [136]:
df.date

0        29 04 24
1        27 03 24
2        29 02 24
3        29 02 24
4         8 12 23
           ...
80587    11 09 23
80591     6 08 23
80592    31 08 23
80594     5 10 23
80595    26 08 23
Name: date, Length: 54851, dtype: object

In [137]:
df['date'] = df['date'].str.replace('2024', '24')
df['date'] = df['date'].str.replace('2022', '22')
df['date'] = df['date'].str.replace('2021', '21')
df['date'] = df['date'].str.replace('2020', '20')
df['date'] = df['date'].str.replace('2019', '19')
df['date'] = df['date'].str.replace('2018', '18')
df['date'] = df['date'].str.replace('2017', '17')
df['date'] = df['date'].str.replace('2016', '16')

/tmp/ipykernel_17236/2179479366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2024', '24')
/tmp/ipykernel_17236/2179479366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2022', '22')
/tmp/ipykernel_17236/2179479366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2021', '21')
/tmp/ipykernel_17236/2179479366.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2020', '20')
/tmp/ipykernel_17236/2179479366.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2019', '19')
/tmp/ipykernel_17236/2179479366.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2018', '18')
/tmp/ipykernel_17236/2179479366.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2017', '17')
/tmp/ipykernel_17236/2179479366.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].str.replace('2016', '16')

In [138]:
df.date

0        29 04 24
1        27 03 24
2        29 02 24
3        29 02 24
4         8 12 23
           ...
80587    11 09 23
80591     6 08 23
80592    31 08 23
80594     5 10 23
80595    26 08 23
Name: date, Length: 54851, dtype: object

In [139]:
# df['state'] = encoder_state.inverse_transform(df['state'])

In [140]:
# df.to_csv('./cleaned_data.csv')

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  int64
 10  zipcode       54851 non-null  int64
 11  state         54851 non-null  int64
dtypes: float64(1), int64(9), object(2)
memory usage: 7.5+ MB

In [146]:
df.head()

,date,price,address,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
0,29 04 24,480000,"1307/60 A'beckett Street, Melbourne",2,1,0,53.0,5501000,47279,0,3000,6
1,27 03 24,815000,"1103/108 Flinders Street, Melbourne",2,2,1,93.0,5501000,47279,0,3000,6
2,29 02 24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
3,29 02 24,3350000,"3801/35 Spring Street, Melbourne",3,2,2,175.0,10721000000,47279,0,3000,6
4,8 12 23,590000,"508/181 Exhibition Street, Melbourne",2,1,1,80.0,5501000,47279,0,3000,6

In [147]:
df.corr(numeric_only=True)

,price,bedrooms,bathrooms,parking,area,median_price,population,average_age,zipcode,state
price,1.000000,0.309295,0.426080,0.011766,0.002356,0.558588,0.131060,-0.081190,-0.299358,0.107915
bedrooms,0.309295,1.000000,0.507762,0.035953,0.017322,0.248636,0.032390,0.134987,0.007798,-0.002308
bathrooms,0.426080,0.507762,1.000000,0.019326,0.012059,0.258647,0.045800,0.023539,-0.111766,-0.051442
parking,0.011766,0.035953,0.019326,1.000000,0.002687,0.003022,-0.008667,0.004558,0.019774,-0.003075
area,0.002356,0.017322,0.012059,0.002687,1.000000,-0.007693,-0.005291,0.010960,0.002740,-0.007574
median_price,0.558588,0.248636,0.258647,0.003022,-0.007693,1.000000,0.095193,-0.112824,-0.261424,0.104438
population,0.131060,0.032390,0.045800,-0.008667,-0.005291,0.095193,1.000000,-0.120237,-0.375967,0.281270
average_age,-0.081190,0.134987,0.023539,0.004558,0.010960,-0.112824,-0.120237,1.000000,0.102529,0.019996
zipcode,-0.299358,0.007798,-0.111766,0.019774,0.002740,-0.261424,-0.375967,0.102529,1.000000,-0.014033
state,0.107915,-0.002308,-0.051442,-0.003075,-0.007574,0.104438,0.281270,0.019996,-0.014033,1.000000

In [266]:
y=df['price']
x=df[['bedrooms','bathrooms','parking','state']]

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54851 entries, 0 to 80595
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          54851 non-null  object
 1   price         54851 non-null  int64
 2   address       54851 non-null  object
 3   bedrooms      54851 non-null  int64
 4   bathrooms     54851 non-null  int64
 5   parking       54851 non-null  int64
 6   area          54851 non-null  float64
 7   median_price  54851 non-null  int64
 8   population    54851 non-null  int64
 9   average_age   54851 non-null  int64
 10  zipcode       54851 non-null  int64
 11  state         54851 non-null  int64
dtypes: float64(1), int64(9), object(2)
memory usage: 7.5+ MB

In [268]:
# encoder_state = LabelEncoder()
# df['state'] = encoder_state.fit_transform(df['state'])

## Splitting the data into train and test set

In [346]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.7,random_state=20010)

## Train the model

In [347]:
def train_model_lr():
    from sklearn.linear_model import LinearRegression
    model=LinearRegression()
    model.fit(x_train,y_train)
    return model

In [348]:
def train_model_xg():
    from xgboost import XGBRegressor
    model=XGBRegressor()
    model.fit(x_train,y_train)
    return model

In [349]:
def train_model_cb():
    from catboost import CatBoostRegressor
    model=CatBoostRegressor()
    model.fit(x_train,y_train)
    return model

In [350]:
def train_model_nb():
    from sklearn.naive_bayes import GaussianNB
    model=GaussianNB()
    model.fit(x_train,y_train)
    return model

In [351]:
def train_model_rf():
    from sklearn.ensemble import RandomForestRegressor
    model=RandomForestRegressor()
    model.fit(x_train,y_train)
    return model

In [352]:
def train_model_ab():
    from sklearn.ensemble import AdaBoostRegressor
    model=AdaBoostRegressor()
    model.fit(x_train,y_train)
    return model

## Evaluate the model

In [353]:
def evaluate_model(model,model_name):
    y_true=y_test
    y_pred=model.predict(x_test)
    from sklearn.metrics import r2_score
    r2=r2_score(y_true,y_pred)

    return model_name,r2

In [354]:
models=[
    (train_model_lr(),'Linear Regression'),
    (train_model_xg(),'XG Boost'),
    (train_model_cb(),'Cat Boost'),
    (train_model_nb(),'Naive Bayes'),
    (train_model_rf(),'Random Forest'),
    (train_model_ab(),'AdaBoost')
]

Learning rate set to 0.072861
0:	learn: 704119.3659952	total: 3.13ms	remaining: 3.12s
1:	learn: 691706.8073176	total: 6.72ms	remaining: 3.35s
2:	learn: 680763.3711127	total: 9.18ms	remaining: 3.05s
3:	learn: 669583.2339022	total: 11.4ms	remaining: 2.83s
4:	learn: 660897.5181260	total: 13.5ms	remaining: 2.69s
5:	learn: 651680.6807033	total: 16.4ms	remaining: 2.71s
6:	learn: 643844.7826927	total: 19.6ms	remaining: 2.78s
7:	learn: 636682.4187464	total: 22.8ms	remaining: 2.82s
8:	learn: 631226.9731826	total: 25.1ms	remaining: 2.76s
9:	learn: 625942.8397906	total: 27.3ms	remaining: 2.71s
10:	learn: 621146.9550503	total: 29.4ms	remaining: 2.65s
11:	learn: 616851.1756585	total: 31.5ms	remaining: 2.6s
12:	learn: 613064.7965632	total: 33.5ms	remaining: 2.54s
13:	learn: 609673.3267913	total: 35.7ms	remaining: 2.51s
14:	learn: 606765.1416648	total: 37.7ms	remaining: 2.47s
15:	learn: 604057.8214007	total: 39.6ms	remaining: 2.43s
16:	learn: 601728.6051394	total: 41.5ms	remaining: 2.4s
17:	learn: 599558.3567377	total: 43.4ms	remaining: 2.37s
18:	learn: 597552.7797061	total: 45.5ms	remaining: 2.35s
19:	learn: 595674.0741314	total: 47.6ms	remaining: 2.33s
20:	learn: 593954.1409964	total: 49.7ms	remaining: 2.32s
21:	learn: 592499.4936615	total: 51.8ms	remaining: 2.3s
22:	learn: 591313.3276212	total: 53.9ms	remaining: 2.29s
23:	learn: 589938.0761754	total: 55.9ms	remaining: 2.27s
24:	learn: 588781.9450812	total: 57.9ms	remaining: 2.26s
25:	learn: 587785.4592098	total: 60ms	remaining: 2.25s
26:	learn: 586851.8731484	total: 62ms	remaining: 2.23s
27:	learn: 585927.4929352	total: 64.2ms	remaining: 2.23s
28:	learn: 585092.1994351	total: 66.3ms	remaining: 2.22s
29:	learn: 584734.3288940	total: 68.1ms	remaining: 2.2s
30:	learn: 584043.1840381	total: 70ms	remaining: 2.19s
31:	learn: 583393.7187309	total: 72ms	remaining: 2.18s
32:	learn: 582728.4047542	total: 74ms	remaining: 2.17s
33:	learn: 582308.5255021	total: 75.9ms	remaining: 2.15s
34:	learn: 581879.2808562	total: 77.8ms	remaining: 2.15s
35:	learn: 581311.6042110	total: 80ms	remaining: 2.14s
36:	learn: 580726.1566522	total: 82ms	remaining: 2.13s
37:	learn: 580244.3752198	total: 83.8ms	remaining: 2.12s
38:	learn: 579929.6643050	total: 85.7ms	remaining: 2.11s
39:	learn: 579507.4720631	total: 87.6ms	remaining: 2.1s
40:	learn: 579223.9421898	total: 89.5ms	remaining: 2.09s
41:	learn: 578790.2233056	total: 91.3ms	remaining: 2.08s
42:	learn: 578547.7848649	total: 93.2ms	remaining: 2.07s
43:	learn: 578296.6943739	total: 95ms	remaining: 2.06s
44:	learn: 578064.6080064	total: 97.1ms	remaining: 2.06s
45:	learn: 577897.0955291	total: 99.1ms	remaining: 2.05s
46:	learn: 577626.8839903	total: 101ms	remaining: 2.05s
47:	learn: 577286.4036537	total: 103ms	remaining: 2.04s
48:	learn: 577050.6116635	total: 105ms	remaining: 2.03s
49:	learn: 576817.6786442	total: 107ms	remaining: 2.03s
50:	learn: 576626.4224952	total: 109ms	remaining: 2.02s
51:	learn: 576442.6110343	total: 111ms	remaining: 2.02s
52:	learn: 576221.5369614	total: 112ms	remaining: 2.01s
53:	learn: 575712.3398490	total: 114ms	remaining: 2s
54:	learn: 575505.2356947	total: 116ms	remaining: 2s
55:	learn: 575317.9960479	total: 118ms	remaining: 1.99s
56:	learn: 575148.9822983	total: 120ms	remaining: 1.99s
57:	learn: 575013.5661210	total: 122ms	remaining: 1.98s
58:	learn: 574836.3683026	total: 124ms	remaining: 1.98s
59:	learn: 574698.0922699	total: 126ms	remaining: 1.97s
60:	learn: 574589.7822798	total: 128ms	remaining: 1.97s
61:	learn: 574435.2318336	total: 130ms	remaining: 1.96s
62:	learn: 574273.9594449	total: 132ms	remaining: 1.96s
63:	learn: 574152.3344648	total: 134ms	remaining: 1.95s
64:	learn: 573973.1146167	total: 136ms	remaining: 1.95s
65:	learn: 573868.5756052	total: 137ms	remaining: 1.94s
66:	learn: 573802.5835789	total: 139ms	remaining: 1.94s
67:	learn: 573681.9245582	total: 141ms	remaining: 1.93s
68:	learn: 573566.3523749	total: 143ms	remaining: 1.93s
69:	learn: 573493.5305044	total: 145ms	remaining: 1.93s
70:	learn: 573464.9666273	total: 146ms	remaining: 1.92s
71:	learn: 573287.7162788	total: 148ms	remaining: 1.91s
72:	learn: 573122.6417978	total: 150ms	remaining: 1.91s
73:	learn: 573011.1457926	total: 152ms	remaining: 1.9s
74:	learn: 572930.2575076	total: 154ms	remaining: 1.9s
75:	learn: 572615.0203607	total: 156ms	remaining: 1.9s
76:	learn: 572540.2120737	total: 158ms	remaining: 1.89s
77:	learn: 572466.0342729	total: 160ms	remaining: 1.89s
78:	learn: 572425.5722713	total: 162ms	remaining: 1.89s
79:	learn: 572251.6020496	total: 164ms	remaining: 1.89s
80:	learn: 572097.8887616	total: 166ms	remaining: 1.89s
81:	learn: 572004.9493973	total: 168ms	remaining: 1.88s
82:	learn: 571925.2967623	total: 170ms	remaining: 1.88s
83:	learn: 571852.9533631	total: 172ms	remaining: 1.88s
84:	learn: 571766.2757024	total: 174ms	remaining: 1.88s
85:	learn: 571667.5167110	total: 176ms	remaining: 1.87s
86:	learn: 571540.0729716	total: 178ms	remaining: 1.87s
87:	learn: 571406.9267805	total: 180ms	remaining: 1.87s
88:	learn: 571353.8941433	total: 182ms	remaining: 1.86s
89:	learn: 571299.5294605	total: 184ms	remaining: 1.86s
90:	learn: 571251.4325961	total: 186ms	remaining: 1.85s
91:	learn: 570939.1355567	total: 188ms	remaining: 1.85s
92:	learn: 570862.1113623	total: 190ms	remaining: 1.85s
93:	learn: 570810.5686094	total: 193ms	remaining: 1.86s
94:	learn: 570713.3265165	total: 195ms	remaining: 1.86s
95:	learn: 570580.2806560	total: 197ms	remaining: 1.86s
96:	learn: 570490.2893080	total: 210ms	remaining: 1.95s
97:	learn: 570359.9775271	total: 212ms	remaining: 1.95s
98:	learn: 570290.3315619	total: 215ms	remaining: 1.96s
99:	learn: 570238.9089843	total: 217ms	remaining: 1.96s
100:	learn: 570190.3112965	total: 220ms	remaining: 1.95s
101:	learn: 570159.5533120	total: 222ms	remaining: 1.95s
102:	learn: 570102.8753377	total: 224ms	remaining: 1.95s
103:	learn: 570056.8365184	total: 227ms	remaining: 1.95s
104:	learn: 569824.7158946	total: 229ms	remaining: 1.95s
105:	learn: 569735.9671958	total: 232ms	remaining: 1.95s
106:	learn: 569694.8952078	total: 234ms	remaining: 1.95s
107:	learn: 569623.4162018	total: 236ms	remaining: 1.95s
108:	learn: 569586.0175665	total: 238ms	remaining: 1.94s
109:	learn: 569548.0343908	total: 240ms	remaining: 1.94s
110:	learn: 569498.0732529	total: 242ms	remaining: 1.94s
111:	learn: 569389.6565493	total: 244ms	remaining: 1.93s
112:	learn: 569305.4104944	total: 246ms	remaining: 1.93s
113:	learn: 569218.9991464	total: 248ms	remaining: 1.92s
114:	learn: 569152.3981553	total: 249ms	remaining: 1.92s
115:	learn: 569049.7400128	total: 251ms	remaining: 1.91s
116:	learn: 568975.9865838	total: 253ms	remaining: 1.91s
117:	learn: 568935.7446194	total: 255ms	remaining: 1.91s
118:	learn: 568905.7273227	total: 257ms	remaining: 1.9s
119:	learn: 568887.9909260	total: 259ms	remaining: 1.9s
120:	learn: 568857.5205838	total: 261ms	remaining: 1.9s
121:	learn: 568826.8962326	total: 263ms	remaining: 1.89s
122:	learn: 568775.9958576	total: 265ms	remaining: 1.89s
123:	learn: 568728.3178101	total: 267ms	remaining: 1.88s
124:	learn: 568691.2532255	total: 269ms	remaining: 1.88s
125:	learn: 568660.9720805	total: 271ms	remaining: 1.88s
126:	learn: 568645.5757792	total: 273ms	remaining: 1.87s
127:	learn: 568618.3266698	total: 275ms	remaining: 1.87s
128:	learn: 568575.2668040	total: 277ms	remaining: 1.87s
129:	learn: 568507.6937398	total: 279ms	remaining: 1.86s
130:	learn: 568495.6477074	total: 281ms	remaining: 1.86s
131:	learn: 568425.2006441	total: 283ms	remaining: 1.86s
132:	learn: 568297.8600828	total: 285ms	remaining: 1.86s
133:	learn: 568269.7798674	total: 287ms	remaining: 1.85s
134:	learn: 568215.7983898	total: 289ms	remaining: 1.85s
135:	learn: 568172.1932910	total: 291ms	remaining: 1.84s
136:	learn: 568115.4501544	total: 293ms	remaining: 1.84s
137:	learn: 567895.4706028	total: 295ms	remaining: 1.84s
138:	learn: 567842.1776358	total: 297ms	remaining: 1.84s
139:	learn: 567800.0720378	total: 299ms	remaining: 1.83s
140:	learn: 567670.6825916	total: 300ms	remaining: 1.83s
141:	learn: 567640.6703955	total: 302ms	remaining: 1.82s
142:	learn: 567583.5743832	total: 304ms	remaining: 1.82s
143:	learn: 567570.6813560	total: 306ms	remaining: 1.82s
144:	learn: 567489.8259186	total: 308ms	remaining: 1.81s
145:	learn: 567460.2978550	total: 310ms	remaining: 1.81s
146:	learn: 567420.1578477	total: 311ms	remaining: 1.81s
147:	learn: 567393.9548568	total: 313ms	remaining: 1.8s
148:	learn: 567365.4389502	total: 315ms	remaining: 1.8s
149:	learn: 567310.9508688	total: 317ms	remaining: 1.8s
150:	learn: 567261.8556317	total: 319ms	remaining: 1.79s
151:	learn: 567218.5555669	total: 321ms	remaining: 1.79s
152:	learn: 567170.6918891	total: 323ms	remaining: 1.79s
153:	learn: 567118.2939215	total: 325ms	remaining: 1.78s
154:	learn: 567108.3312722	total: 327ms	remaining: 1.78s
155:	learn: 567031.9072240	total: 329ms	remaining: 1.78s
156:	learn: 567003.2457290	total: 331ms	remaining: 1.77s
157:	learn: 566979.3228709	total: 332ms	remaining: 1.77s
158:	learn: 566976.5238456	total: 334ms	remaining: 1.76s
159:	learn: 566938.8479858	total: 336ms	remaining: 1.76s
160:	learn: 566893.6429007	total: 338ms	remaining: 1.76s
161:	learn: 566890.4585902	total: 339ms	remaining: 1.75s
162:	learn: 566887.4617504	total: 341ms	remaining: 1.75s
163:	learn: 566866.4043094	total: 343ms	remaining: 1.75s
164:	learn: 566829.0261130	total: 344ms	remaining: 1.74s
165:	learn: 566811.3655480	total: 346ms	remaining: 1.74s
166:	learn: 566779.1261928	total: 349ms	remaining: 1.74s
167:	learn: 566751.5081639	total: 351ms	remaining: 1.74s
168:	learn: 566738.0897547	total: 353ms	remaining: 1.73s
169:	learn: 566722.2340200	total: 355ms	remaining: 1.73s
170:	learn: 566700.4633726	total: 357ms	remaining: 1.73s
171:	learn: 566630.8676382	total: 360ms	remaining: 1.73s
172:	learn: 566605.3792027	total: 362ms	remaining: 1.73s
173:	learn: 566584.5847348	total: 364ms	remaining: 1.73s
174:	learn: 566564.9724008	total: 366ms	remaining: 1.72s
175:	learn: 566526.3161532	total: 368ms	remaining: 1.72s
176:	learn: 566507.7709868	total: 370ms	remaining: 1.72s
177:	learn: 566502.5792351	total: 372ms	remaining: 1.72s
178:	learn: 566444.7527574	total: 374ms	remaining: 1.72s
179:	learn: 566404.9706232	total: 376ms	remaining: 1.71s
180:	learn: 566363.7968909	total: 378ms	remaining: 1.71s
181:	learn: 566255.9592273	total: 380ms	remaining: 1.71s
182:	learn: 566238.4503095	total: 382ms	remaining: 1.7s
183:	learn: 566115.8390444	total: 384ms	remaining: 1.7s
184:	learn: 566088.7323278	total: 386ms	remaining: 1.7s
185:	learn: 566063.7486816	total: 389ms	remaining: 1.7s
186:	learn: 566038.9799690	total: 391ms	remaining: 1.7s
187:	learn: 566005.0407761	total: 393ms	remaining: 1.7s
188:	learn: 565974.9749352	total: 395ms	remaining: 1.7s
189:	learn: 565954.2620130	total: 397ms	remaining: 1.69s
190:	learn: 565921.4941547	total: 400ms	remaining: 1.69s
191:	learn: 565899.1212323	total: 402ms	remaining: 1.69s
192:	learn: 565882.8430694	total: 404ms	remaining: 1.69s
193:	learn: 565862.5900203	total: 406ms	remaining: 1.69s
194:	learn: 565823.3254585	total: 409ms	remaining: 1.69s
195:	learn: 565777.6422886	total: 411ms	remaining: 1.69s
196:	learn: 565737.6872834	total: 414ms	remaining: 1.69s
197:	learn: 565721.1407960	total: 417ms	remaining: 1.69s
198:	learn: 565701.8566060	total: 420ms	remaining: 1.69s
199:	learn: 565683.5365313	total: 422ms	remaining: 1.69s
200:	learn: 565666.0963062	total: 424ms	remaining: 1.69s
201:	learn: 565650.9434663	total: 427ms	remaining: 1.69s
202:	learn: 565634.2429015	total: 429ms	remaining: 1.68s
203:	learn: 565616.5287336	total: 431ms	remaining: 1.68s
204:	learn: 565589.0220025	total: 433ms	remaining: 1.68s
205:	learn: 565562.1581030	total: 436ms	remaining: 1.68s
206:	learn: 565546.2020775	total: 438ms	remaining: 1.68s
207:	learn: 565513.1063323	total: 441ms	remaining: 1.68s
208:	learn: 565485.0836844	total: 443ms	remaining: 1.67s
209:	learn: 565444.7348041	total: 444ms	remaining: 1.67s
210:	learn: 565426.1351769	total: 446ms	remaining: 1.67s
211:	learn: 565387.0456605	total: 449ms	remaining: 1.67s
212:	learn: 565348.5338177	total: 451ms	remaining: 1.67s
213:	learn: 565313.0892049	total: 454ms	remaining: 1.67s
214:	learn: 565296.9904196	total: 456ms	remaining: 1.66s
215:	learn: 565283.3773870	total: 457ms	remaining: 1.66s
216:	learn: 565270.8977096	total: 459ms	remaining: 1.66s
217:	learn: 565256.3365948	total: 461ms	remaining: 1.65s
218:	learn: 565243.5196552	total: 464ms	remaining: 1.65s
219:	learn: 565211.1518058	total: 466ms	remaining: 1.65s
220:	learn: 565200.3745632	total: 469ms	remaining: 1.65s
221:	learn: 565131.7264467	total: 471ms	remaining: 1.65s
222:	learn: 565101.1034428	total: 473ms	remaining: 1.65s
223:	learn: 565087.2546376	total: 475ms	remaining: 1.65s
224:	learn: 565077.8887758	total: 477ms	remaining: 1.64s
225:	learn: 565041.3704435	total: 479ms	remaining: 1.64s
226:	learn: 565007.7537058	total: 482ms	remaining: 1.64s
227:	learn: 564995.0976834	total: 485ms	remaining: 1.64s
228:	learn: 564984.1391120	total: 487ms	remaining: 1.64s
229:	learn: 564975.9320445	total: 489ms	remaining: 1.64s
230:	learn: 564941.6846727	total: 491ms	remaining: 1.63s
231:	learn: 564931.6946143	total: 493ms	remaining: 1.63s
232:	learn: 564898.4439508	total: 494ms	remaining: 1.63s
233:	learn: 564882.8479241	total: 497ms	remaining: 1.63s
234:	learn: 564823.8019548	total: 500ms	remaining: 1.63s
235:	learn: 564742.5679312	total: 503ms	remaining: 1.63s
236:	learn: 564727.0752951	total: 505ms	remaining: 1.62s
237:	learn: 564714.9007130	total: 507ms	remaining: 1.62s
238:	learn: 564688.9274095	total: 509ms	remaining: 1.62s
239:	learn: 564677.3192571	total: 511ms	remaining: 1.62s
240:	learn: 564673.4105936	total: 514ms	remaining: 1.62s
241:	learn: 564645.9873389	total: 517ms	remaining: 1.62s
242:	learn: 564640.1979908	total: 519ms	remaining: 1.62s
243:	learn: 564629.9070924	total: 521ms	remaining: 1.61s
244:	learn: 564601.7790452	total: 523ms	remaining: 1.61s
245:	learn: 564500.8340545	total: 526ms	remaining: 1.61s
246:	learn: 564437.5991206	total: 529ms	remaining: 1.61s
247:	learn: 564423.9861628	total: 531ms	remaining: 1.61s
248:	learn: 564409.9480467	total: 534ms	remaining: 1.61s
249:	learn: 564385.6943658	total: 537ms	remaining: 1.61s
250:	learn: 564325.6382354	total: 539ms	remaining: 1.61s
251:	learn: 564315.1755384	total: 541ms	remaining: 1.6s
252:	learn: 564306.6062616	total: 544ms	remaining: 1.6s
253:	learn: 564288.6575917	total: 547ms	remaining: 1.6s
254:	learn: 564277.6703712	total: 549ms	remaining: 1.6s
255:	learn: 564219.9039156	total: 551ms	remaining: 1.6s
256:	learn: 564201.9607421	total: 554ms	remaining: 1.6s
257:	learn: 564194.3127332	total: 556ms	remaining: 1.6s
258:	learn: 564125.2798180	total: 558ms	remaining: 1.6s
259:	learn: 564114.9332606	total: 561ms	remaining: 1.6s
260:	learn: 564107.9341581	total: 563ms	remaining: 1.59s
261:	learn: 564075.7348458	total: 566ms	remaining: 1.59s
262:	learn: 564052.3157856	total: 568ms	remaining: 1.59s
263:	learn: 564048.7808585	total: 570ms	remaining: 1.59s
264:	learn: 564014.8950223	total: 573ms	remaining: 1.59s
265:	learn: 563991.2695416	total: 576ms	remaining: 1.59s
266:	learn: 563981.4678126	total: 579ms	remaining: 1.59s
267:	learn: 563966.1946826	total: 582ms	remaining: 1.59s
268:	learn: 563920.4926755	total: 584ms	remaining: 1.59s
269:	learn: 563911.3816341	total: 586ms	remaining: 1.58s
270:	learn: 563889.9914054	total: 589ms	remaining: 1.58s
271:	learn: 563881.0205921	total: 592ms	remaining: 1.58s
272:	learn: 563867.5812918	total: 595ms	remaining: 1.58s
273:	learn: 563834.9232995	total: 597ms	remaining: 1.58s
274:	learn: 563823.6202410	total: 600ms	remaining: 1.58s
275:	learn: 563804.4870947	total: 602ms	remaining: 1.58s
276:	learn: 563780.2987653	total: 604ms	remaining: 1.58s
277:	learn: 563755.1909046	total: 606ms	remaining: 1.57s
278:	learn: 563693.9240328	total: 609ms	remaining: 1.57s
279:	learn: 563668.1611465	total: 612ms	remaining: 1.57s
280:	learn: 563613.3708490	total: 614ms	remaining: 1.57s
281:	learn: 563605.0438784	total: 617ms	remaining: 1.57s
282:	learn: 563603.4776968	total: 619ms	remaining: 1.57s
283:	learn: 563595.5056589	total: 621ms	remaining: 1.56s
284:	learn: 563587.8514598	total: 624ms	remaining: 1.56s
285:	learn: 563570.6904778	total: 627ms	remaining: 1.56s
286:	learn: 563548.4403254	total: 629ms	remaining: 1.56s
287:	learn: 563525.3285156	total: 631ms	remaining: 1.56s
288:	learn: 563505.4535903	total: 633ms	remaining: 1.56s
289:	learn: 563484.8926189	total: 635ms	remaining: 1.55s
290:	learn: 563463.5610410	total: 638ms	remaining: 1.55s
291:	learn: 563442.7452521	total: 641ms	remaining: 1.55s
292:	learn: 563424.0780016	total: 644ms	remaining: 1.55s
293:	learn: 563415.8209055	total: 646ms	remaining: 1.55s
294:	learn: 563400.2466655	total: 648ms	remaining: 1.55s
295:	learn: 563390.5155214	total: 650ms	remaining: 1.55s
296:	learn: 563383.0102145	total: 653ms	remaining: 1.54s
297:	learn: 563362.5887531	total: 656ms	remaining: 1.54s
298:	learn: 563355.2592618	total: 658ms	remaining: 1.54s
299:	learn: 563345.9629876	total: 661ms	remaining: 1.54s
300:	learn: 563313.8212668	total: 663ms	remaining: 1.54s
301:	learn: 563303.5312569	total: 665ms	remaining: 1.54s
302:	learn: 563296.9221579	total: 667ms	remaining: 1.53s
303:	learn: 563294.1993732	total: 670ms	remaining: 1.53s
304:	learn: 563270.2784498	total: 673ms	remaining: 1.53s
305:	learn: 563250.6966164	total: 675ms	remaining: 1.53s
306:	learn: 563243.9099149	total: 678ms	remaining: 1.53s
307:	learn: 563236.5122403	total: 680ms	remaining: 1.53s
308:	learn: 563223.4522918	total: 682ms	remaining: 1.52s
309:	learn: 563202.5162046	total: 684ms	remaining: 1.52s
310:	learn: 563177.8073740	total: 687ms	remaining: 1.52s
311:	learn: 563168.2871965	total: 690ms	remaining: 1.52s
312:	learn: 563159.1009058	total: 692ms	remaining: 1.52s
313:	learn: 563139.8209178	total: 695ms	remaining: 1.52s
314:	learn: 563119.7723650	total: 697ms	remaining: 1.51s
315:	learn: 563092.9391803	total: 699ms	remaining: 1.51s
316:	learn: 563081.2757163	total: 702ms	remaining: 1.51s
317:	learn: 563053.6390286	total: 704ms	remaining: 1.51s
318:	learn: 563029.1709204	total: 707ms	remaining: 1.51s
319:	learn: 563022.6907145	total: 709ms	remaining: 1.5s
320:	learn: 563014.5908089	total: 711ms	remaining: 1.5s
321:	learn: 563009.8397429	total: 713ms	remaining: 1.5s
322:	learn: 562994.0392490	total: 715ms	remaining: 1.5s
323:	learn: 562982.7432128	total: 717ms	remaining: 1.5s
324:	learn: 562971.3953416	total: 720ms	remaining: 1.5s
325:	learn: 562965.3151276	total: 723ms	remaining: 1.49s
326:	learn: 562959.3051957	total: 725ms	remaining: 1.49s
327:	learn: 562950.1849495	total: 727ms	remaining: 1.49s
328:	learn: 562927.9725687	total: 729ms	remaining: 1.49s
329:	learn: 562906.5340117	total: 731ms	remaining: 1.48s
330:	learn: 562887.5921828	total: 733ms	remaining: 1.48s
331:	learn: 562865.0309838	total: 736ms	remaining: 1.48s
332:	learn: 562861.8819316	total: 738ms	remaining: 1.48s
333:	learn: 562848.7968767	total: 741ms	remaining: 1.48s
334:	learn: 562841.2749324	total: 743ms	remaining: 1.47s
335:	learn: 562830.0261675	total: 745ms	remaining: 1.47s
336:	learn: 562813.7002963	total: 747ms	remaining: 1.47s
337:	learn: 562798.1673021	total: 749ms	remaining: 1.47s
338:	learn: 562763.6822482	total: 753ms	remaining: 1.47s
339:	learn: 562735.6564153	total: 755ms	remaining: 1.47s
340:	learn: 562723.1260418	total: 757ms	remaining: 1.46s
341:	learn: 562703.6929869	total: 759ms	remaining: 1.46s
342:	learn: 562698.5325936	total: 761ms	remaining: 1.46s
343:	learn: 562679.3416548	total: 764ms	remaining: 1.46s
344:	learn: 562665.1717080	total: 766ms	remaining: 1.46s
345:	learn: 562655.1500540	total: 770ms	remaining: 1.45s
346:	learn: 562650.5388109	total: 772ms	remaining: 1.45s
347:	learn: 562622.4064586	total: 775ms	remaining: 1.45s
348:	learn: 562607.4488495	total: 777ms	remaining: 1.45s
349:	learn: 562606.5498406	total: 779ms	remaining: 1.45s
350:	learn: 562594.7978541	total: 782ms	remaining: 1.45s
351:	learn: 562556.2382804	total: 785ms	remaining: 1.45s

In [355]:
result=[]
for (model,model_name) in models:
    result.append(evaluate_model(model,model_name))

In [356]:
result_df=pd.DataFrame(result,columns=["Algorithm","R2 Score"])
result_df

           Algorithm  R2 Score
0  Linear Regression  0.207858
1           XG Boost  0.354791
2          Cat Boost  0.360434
3        Naive Bayes -0.336095
4      Random Forest  0.350584
5           AdaBoost  0.207244